# Node modules
node_modules/

# Build output
dist/
.astro/
.cache/

# tests
coverage/
*.log
*.log.*
playwright-report/
test-results/

# Editor files
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local
.vercel
.yalc